$dark: #070600;
$light: #F7F7FF;
$turquoise: #23B5D3;
$blue: #279AF1;
$red: #ED254E;
$yellow: #F9DC5C;
$grey: #465362;

$small-breakpoint: 720px;
$medium-breakpoint: 1024px;
$large-breakpoint: 720px;
